// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body {
  background: linear-gradient(to bottom right,rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.651)),
  url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/fall-movies-index-1628968089.jpg');
  color: wheat;
}
.movies {
  border-radius: 0.2rem;
}

head {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0.5rem;
}

.movies_content {
  padding-bottom: 15rem;
  padding-top: 2rem;
}

.nav-design {
  margin-left: 20px;
}

.nav-design:hover {
  opacity: 0.6;
}

.price,
.price1 {
  height: 35px;
  background-color: rgba(0, 143, 122, 0.815);
  padding: 5px;
  border-radius: 3px;
  transform: skewY(-5deg);
}

.img-margin {
  margin-top: 1rem;
}

.price1 {
  float: left;
}

.error {
  background-color: #a9dd30;
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
}

.home_sub {
  display: flex;
  justify-content: space-between;
}

.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.photo {
  width: 30%;
  height: 20rem;
  margin: auto;
  display: block;
}

.bold {
  font-weight: bold;
  font-size: 1rem;
}

.nav-design {
  margin: 1rem 0 0 0.5rem;

}

.half_width {
  width: 70%;
  margin: auto;
}

.user_reg {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  border: 1px solid rgb(167, 162, 162);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.margin_top {
  margin-top: 2rem;
}

.reg_image {
  width: 10rem;
}

.movie_image {
  width: 15rem;
  margin: auto;
  display: block;
  height: 15rem;
  border-radius: 10px;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.register {
  text-decoration: none;
  padding: 2rem 0;
  
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
     font-size: larger;
     color: green;
    }
  }
}



@media screen and (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .reg_image {
    width: 7rem;
  }

  .margin_top {
  margin-top: 1rem;
}


  .half_width {
    width: 90%;
  }

  .nav-design {
    margin: 1.3rem 0 0 0.5rem;
  }

  .home {
    grid-template-columns: 1fr;
  }

  .user_reg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px
  }
}