// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movies {
    border-radius: 0.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0.5rem;
}

.movies_content {
    padding-bottom: 5rem;
}

.price {
    float: right;
    background-color: rgba(0, 143, 122, 0.815);
    padding: 5px;
    border-radius: 3px;
}